<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>wallstreetdocs test</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>